ipykernel
openpyxl
Pillow
pywin32
PyPDF2
pandas
JPype1
pdfquery
mysql-connector-python
python-dotenv
deep_translator

Flask
Flask-Cors
Flask-RESTful
Flask-SQLAlchemy
Flask-Login
Flask-Bcrypt
Flask-Wtf

boto3
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client

matplotlib